<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "My Academy Quest" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path("odds_logo.png") %>
  </head>

  <body class="bg-sky-100">
    <a data-testid="github-tag-a" href="https://github.com/danudeth2004/my_academy_quest" target="_blank" rel="noopener noreferrer">
      <button data-testid="github-tag-btn" class="fixed z-10 bottom-4 right-4 bg-white text-white p-2 rounded-full shadow-lg cursor-pointer">
        <%= image_tag "github_logo.png", class: "w-full max-sm:h-8 h-12" %>
      </button>
    </a>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
